body {
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
.page {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1200px;
  width: 320px;
}
.page__header {
  position: relative;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
.header-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 87.5%;
  margin: 0 auto;
}
.header-logo {
  float: left;
  width: 74px;
  height: 24px;
  fill: #ffffff;
}
.page-title--index {
  padding-top: 100px;
  background: url(../img/iphone-hand-mobile@1x.png) no-repeat left bottom, url(../img/bg-back-mobile@1x.jpg) no-repeat center top;
  background-size: 258px auto,cover;
}
