.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.container() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 640px;
  }

  @media @desktop-widths {
    width: 960px;
  }
}

.no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}


.tool-center() {
  position: absolute;
        margin-top: -10px;
}

  


@link-bg: #283645;
@font-regular: "Open Sans", "Arial";
@bold: 700;
@light: 300;
@description-bg: #f2f2f2;
@font-black: #000000;
@active-link: #e9ebec;
@controls-bg: #1d2631;
@slider-border: #e5e5e5;

