.index-footer {


	&__heading {
		font-size: 24px;
    line-height: 26px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    margin: 0;
    margin-top: 40px;
    margin-bottom:30px;
    text-align: center;
    color: #283645;
    background: #ffffff;
	}


	&__item-title {
		margin: 0;
    text-align: center;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 19px;
    padding: 19px 0 0 0;
	}


	&__item {
		text-align: center;
    margin: 0;
    color: #d22856;
    font-size: 23px;
    line-height: 28px;
	}
}


.footer-contacts-section {
	position: relative;
}


.footer-contacts-section--gradient::after {
    content: "";
    position: absolute;
 width: 5px;
    height: 5px;
    top: 402px;

 background: transparent;
    border: 200px solid transparent;
    border-top: 31px solid #ffffff;
    z-index: 2;
}


.footer-map-section {
	display: block;
	margin-top:35px;
	height: 209px;
	overflow:hidden;

}


.footer-maps {
	width: 100%;
}