.header-section {
		background-color: rgba(29, 40, 50, 1);


		@media @desktop {
			background-color: rgba(29, 40, 50, .6);
		}


		&__inner {
		width: 100%;


			@media @desktop {
				width: 960px;
				height: 100px;
			}
		}
	}
@media @tablet {
	.header-section {
		background-color: rgba(29, 40, 50, .6);
			
	}
}