.social-link {
	display: inline-block;
	border: 3px solid #e9ebec;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	font-size: 0;
	vertical-align: top;
	margin-right: 10px;



	&--tw {
		background: url(../img/icon-twitter.svg) no-repeat 50% 50%;
	}


	&--fb {
		background: url(../img/icon-facebook.svg) no-repeat 50% 50%;
	}


	&--yt {
		background: url(../img/icon-youtube.svg) no-repeat 50% 50%;
	}


}
