.page-title {


	&__heading {
		padding: 10px 10px 30px 10px;
		text-align: center;
		font-weight: 300;
		color: #fff;
		font-size: 24px;


		@media @tablet {
			padding: 30px 80px 200px;
			font-size: 50px;
			line-height: 58px;
			font-weight: 300;

		}


		@media @desktop {
			padding: 100px 300px 100px 300px;
		}


		&--form {
			@media @desktop {
				padding-left: 0;
				padding-right: 0;
			}

		}
	}


	&--index {
		padding-left: 120px;
		padding-bottom: 110px;

		left: 0;
		width: 258px;
		height: 286px;
		background: url(../img/iphone-hand-mobile@1x.png) left bottom no-repeat;
		z-index: 1;


			@media @tablet {
				background: url(../img/iphone-hand-tablet@1x.png) center no-repeat;
				margin: 0 auto;
				margin-top: 65px;
				width: 600px;
				min-height: 545px;
			}


			@media @desktop {
				background: url(../img/iphone-hand-desktop@1x.png) center center no-repeat;
				margin-top: 150px;
				margin-right: 45px;
				margin-bottom: -5px;
			}
	}
}



