.reviews {
	position: relative;


	@media @desktop {
		margin-bottom: 40px;
	}


	&__items {
		padding: 0;
		position: relative;


			@media @desktop {
				padding-bottom: 60px;
			}
	}


	&__wrapper li:nth-child(2),
	&__wrapper li:nth-child(3) {
		display: none;
	}


	&__quotes {
		display: none;


		@media @desktop {
			display: block;
			margin: 0 auto;
			margin-top: 70px;
		}
	}


	&__arrow {


		@media @desktop {
			&::before {
				content: "";
				position: absolute;
				cursor: pointer;
				top: 150px;
				left: 10px;
				width: 22px;
				height: 41px;
				z-index: 1;
				background: url(../img/icon-review-arrow-left.svg) no-repeat;
			}


			&::after {
				content: "";
				position: absolute;
				top: 150px;
				left: 928px;
				width: 22px;
				height: 41px;
				z-index: 1;
				background: url(../img/icon-review-arrow-right.svg) no-repeat;
			}
		}
	}
}


.reviews__arrow:hover::before {
	@media @desktop {
		background: url(../img/icon-review-arrow-left-hover.svg) no-repeat;
		}
}

.reviews__arrow:active::before {
	@media @desktop {
		background: url(../img/icon-review-arrow-left-active.svg) no-repeat;
	}
}

.reviews__arrow:hover::after {
	@media @desktop {
		background: url(../img/icon-review-arrow-right-hover.svg) no-repeat;
	}
}

.reviews__arrow:active::after {
	@media @desktop {
		background: url(../img/icon-review-arrow-right-active.svg) no-repeat;
	}
}


.reviews li {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.review__item-title--order2 {


	@media @tablet {
		order: 2;

	}
}

.review__profession--order3 {

	display: none;

	@media @tablet {
		display: block;
		order: 3;
		text-align: center;
	}


	@media @desktop {
		font-size: 18px;
	}

}