.table {
	padding: 65px 0 45px 0;
	position: relative;


	&__col-first {
		border: none;
		opacity: 0;
	}


	&__col-head {
		display: table-cell;
    width: 276px;
    height: 96px;
    background: @link-bg;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
    border-left: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
    padding-left: 70px;
    padding-right: 70px;
	}


	&__text {
		font-family: @font-regular, sans-serif;
    font-weight: @bold;
    font-size: 18px;
    line-height: 30px;

	}


	&__dollar {
		display: block;
	}


	&__price {
		border-collapse: collapse;
    position: relative;
    width: auto;
    height: auto;
	}

	&__price::before {
		content: "";
    width: 74px;
    height: 73px;
    position: absolute;
    z-index: 1;
    background: url(../img/bg-hit.svg) no-repeat;
    top: 0;
    right: 485px;
	}


	&__price::after {
		content: "ХИТ";
    top: 5px;
    right: 508px;
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    background: transparent;
    transform: rotate(-45deg);

	}


	&__mobile-data {
		display: block;
    width: 135px;
    padding-left: 22px;
    padding-right: 121px;
}






	}




.table__price--second-item {
	left: -369px;
}


.table__col {
		width: 276px;
	height: 57px;
	margin: 0;
	padding: 0;
	border: 2px solid #e6e6e6;
	background: #ffffff;
	font-size: 14px;
	line-height: 30px;
	color: #283645;
	text-transform: uppercase;


		&--col-2,
		&--col-3,
		&--col-4,
		&--col-7,
		&--col-8,
		&--col-12 {
			background: #ffffff url(../img/icon-yes.svg) no-repeat 230px 19px;
			border-top: none;
		}


		&--col-6,
		&--col-10,
		&--col-11 {
			background: #ffffff url(../img/icon-no.svg) no-repeat 231px 19px;
			border-top: none;
		}
}





