.page-form {

	&__text {
	padding: 44px 15px 10px 15px;
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	color: @link-bg;
	background: #ffffff;
	width: 280px;


		@media @tablet {
			box-sizing: border-box;
			width: 520px;
			font-size: 18px;
			line-height: 30px;
			margin-left: 68px;
		}


		@media @desktop {
			width: 820px;
			margin-bottom: 15px;
		}
	}


	&__request {
		display: none;


			@media @tablet {
				display: block;
			}


			@media @desktop {
				display: inline-flex;
			}
	}
}
