.functional {


	&__tool-list {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin-right: 34px;
		padding-top: 42px;
	}


	&__tool1 {
		background: url(../img/icon-editor-crop.svg) no-repeat;
		border: none;
		width: 48px;
		height: 48px;
		cursor: pointer;
	}


	&__tool2 {
		background: url(../img/icon-editor-fill-disabled.svg) no-repeat;
		border: none;
		width: 48px;
		height: 48px;
		cursor: pointer;
		margin-left: 55px;
	}


	&__tool3 {
		background: url(../img/icon-editor-contrast-hover.svg) no-repeat;
		border: none;
		width: 48px;
		height: 40px;
		cursor: pointer;
		align-items: center;
		display: flex;
		margin-left: 55px;
	}


	&__toolcontrols {
		margin: 30px 40px 33px 40px;
		position: relative;
	}

	&__toolscale {
		width: 240px;
		height: 2px;
		background: @link-bg;
	}


	&__tooltoggle {
		position: absolute;
		width: 10px;
		height: 10px;
		cursor: pointer;
		border: 2px solid #d22856;
		border-radius: 50%;
		background: #fff;
		top: -6px;
		right: 33px;
			&:hover {
				background: #d22856;
		}
	}


	&__btn-upload {
		border: none;
		border-top: 1px solid #dddfe0;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}


	&__post-btn {
		font-weight: @bold;
		text-decoration: none;
		margin-top: 38px;
		margin-left: 20px;
		margin-right: 20px;
		padding: 15px 92px;
		border: 3px solid #d22856;
		border-radius: 30px;
		color: #d22856;
		font-size: 18px;
		line-height: 18px;
		background: transparent;
		cursor: pointer;
	}


	&__cencel-btn {
		cursor: pointer;
		font-weight: @bold;
		text-decoration: none;
		margin-top: 12px;
		margin-left: 20px;
		margin-right: 20px;
		padding: 15px 103px;
		border: 3px solid #dddfe0;
		border-radius: 30px;
		color: #dddfe0;
		font-size: 18px;
		line-height: 18px;
		background: transparent;
	}

}



