.prolog-photo {
	

	@media @tablet {

		margin-bottom: 50px;
		padding-left: 35px;
		padding-right: 35px;
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
	}


	@media @desktop {

		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0;
		margin-bottom: 25px;
	}

}